html,
body,
#root
{
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  overflow:hidden;
  height: 100%;

}
.header{
  background-color: #04084a;
  display:flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px+2vmin);
  color: white;
  padding: 40px;
  position: fixed;
  top:0px;
  left:0px;
  right: 0px;
  z-index:1
}
.header::before{
  content:'';
  position: absolute;
  top:0px;
  left:0px;
  right: 0px;
  height: 300px;
  background:linear-gradient(
    rgba(0,0,0,1),
    rgba(0,0,0,0)
  );
  pointer-events: none;
  z-index: -1;
}

header img {
 width: 130px;
  height: auto;
  pointer-events: none;
  background-color: #000;
}

h1,h2,h3,h4,h5 {
  font-family: 'Italiana', serif;
  color: #fff !important;
  margin-bottom: 32px !important;
}